---
import Principal from "../Principal.astro";
import About from "../About.astro";
import Clients from "../Clients.astro";
import Services from "../Services.astro";
---

<main class="w-full max-w-6xl mx-auto">
    <Principal />
    <About />
    <Clients />
    <Services />
</main>
