   <section
        id="about"
        class="grid grid-cols-1 md:grid-cols-2 py-20 gap-8 md:gap-60 items-center p-4"
    >
        <div>
            <h2
                class="font-normal text-2xl md:text-5xl text-center md:text-left"
            >
                Sobre <br /><span class="font-bold"> WINSY MUSIC</span>
            </h2>
            <p class="text-sm text-center md:text-left md:text-lg mt-6 text-gray-600">
                Empresa especializada en la producción de shows artísticos y
                musicales de alta calidad para eventos corporativos y sociales
            </p>
            <div class="w-full">
                <div
                    class="bg-cyan-600/70 border shadow-lg border-cyan-600/80 rounded-lg p-3 flex items-center gap-4 mt-4 md:mt-6"
                >
                    <div
                        class="bg-white rounded-full w-12 h-12 flex items-center justify-center mx-auto"
                    >
                        <svg
                            width="1em"
                            height="1em"
                            class="w-12 h-12 mx-auto p-1 text-cyan-600"
                            data-icon="mdi:account-tie"
                        >
                            <symbol id="ai:mdi:account-tie" viewBox="0 0 24 24"
                                ><path
                                    fill="currentColor"
                                    d="M12 3c2.21 0 4 1.79 4 4s-1.79 4-4 4s-4-1.79-4-4s1.79-4 4-4m4 10.54c0 1.06-.28 3.53-2.19 6.29L13 15l.94-1.88c-.62-.07-1.27-.12-1.94-.12s-1.32.05-1.94.12L11 15l-.81 4.83C8.28 17.07 8 14.6 8 13.54c-2.39.7-4 1.96-4 3.46v4h16v-4c0-1.5-1.6-2.76-4-3.46"
                                ></path></symbol
                            ><use href="#ai:mdi:account-tie"></use>
                        </svg>
                    </div>
                    <div class="space-y-2">
                        <h3 class="font-semibold text-lg text-white">
                            Profesionalismo
                        </h3>
                        <p class="text-sm text-white">
                            Músicos y técnicos de élite con años de experiencia
                            en la industria musical
                        </p>
                    </div>
                </div><div
                    class="bg-cyan-600/70 border shadow-lg border-cyan-600/80 rounded-lg p-3 flex items-center gap-4 mt-4 md:mt-6"
                >
                    <div
                        class="bg-white rounded-full w-12 h-12 flex items-center justify-center mx-auto"
                    >
                        <svg
                            width="1em"
                            height="1em"
                            class="w-12 h-12 mx-auto p-1 text-cyan-600"
                            data-icon="mdi:medal-outline"
                        >
                            <symbol
                                id="ai:mdi:medal-outline"
                                viewBox="0 0 24 24"
                                ><path
                                    fill="currentColor"
                                    d="M14.94 19.5L12 17.77L9.06 19.5l.78-3.34l-2.59-2.24l3.41-.29L12 10.5l1.34 3.13l3.41.29l-2.59 2.24M20 2H4v2l4.86 3.64a8 8 0 1 0 6.28 0L20 4m-2 11a6 6 0 1 1-7.18-5.88a5.9 5.9 0 0 1 2.36 0A6 6 0 0 1 18 15m-5.37-8h-1.26l-4-3h9.34Z"
                                ></path></symbol
                            ><use href="#ai:mdi:medal-outline"></use>
                        </svg>
                    </div>
                    <div class="space-y-2">
                        <h3 class="font-semibold text-lg text-white">
                            Calidad
                        </h3>
                        <p class="text-sm text-white">
                            Equipos de sonido de última generación para
                            espectáculos de primer nivel
                        </p>
                    </div>
                </div><div
                    class="bg-cyan-600/70 border shadow-lg border-cyan-600/80 rounded-lg p-3 flex items-center gap-4 mt-4 md:mt-6"
                >
                    <div
                        class="bg-white rounded-full w-12 h-12 flex items-center justify-center mx-auto"
                    >
                        <svg
                            width="1em"
                            height="1em"
                            class="w-12 h-12 mx-auto p-1 text-cyan-600"
                            data-icon="mdi:handshake-outline"
                        >
                            <symbol
                                id="ai:mdi:handshake-outline"
                                viewBox="0 0 24 24"
                                ><path
                                    fill="currentColor"
                                    d="M21.71 8.71c1.25-1.25.68-2.71 0-3.42l-3-3c-1.26-1.25-2.71-.68-3.42 0L13.59 4H11C9.1 4 8 5 7.44 6.15L3 10.59v4l-.71.7c-1.25 1.26-.68 2.71 0 3.42l3 3c.54.54 1.12.74 1.67.74c.71 0 1.36-.35 1.75-.74l2.7-2.71H15c1.7 0 2.56-1.06 2.87-2.1c1.13-.3 1.75-1.16 2-2C21.42 14.5 22 13.03 22 12V9h-.59zM20 12c0 .45-.19 1-1 1h-1v1c0 .45-.19 1-1 1h-1v1c0 .45-.19 1-1 1h-4.41l-3.28 3.28c-.31.29-.49.12-.6.01l-2.99-2.98c-.29-.31-.12-.49-.01-.6L5 15.41v-4l2-2V11c0 1.21.8 3 3 3s3-1.79 3-3h7zm.29-4.71L18.59 9H11v2c0 .45-.19 1-1 1s-1-.55-1-1V8c0-.46.17-2 2-2h3.41l2.28-2.28c.31-.29.49-.12.6-.01l2.99 2.98c.29.31.12.49.01.6"
                                ></path></symbol
                            ><use href="#ai:mdi:handshake-outline"></use>
                        </svg>
                    </div>
                    <div class="space-y-2">
                        <h3 class="font-semibold text-lg text-white">
                            Compromiso
                        </h3>
                        <p class="text-sm text-white">
                            Atención a cada detalle para que disfrutes del
                            evento sin preocupaciones
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div
                class="col-span-1 row-span-1 bg-sky-300 rounded-3xl overflow-hidden relative"
            >
              <iframe  src="https://www.youtube.com/embed/9anbSGClO8M?si=OEtbUzm512h_BdVD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" class="w-full h-40 md:h-65" allowfullscreen></iframe>
            </div>
        </div>
    </section>