<section class="grid py-10 gap-2 p-4 max-w-6xl w-full mx-auto">
    <div>
        <h2 class="text-2xl md:text-5xl text-center font-semibold">
            Hacemos de tus fiestas, experiencias inolvidables
        </h2>
        <div class="mx-auto py-10">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 items-center">
                <!-- Columna Izquierda -->
                <div class="space-y-6 md:space-y-12">
                    <!-- Feature 1 -->
                    <div
                        class="text-left md:text-right bg-cyan-200/20 p-4 rounded-xl md:bg-white"
                    >
                        <div class="flex md:justify-end mb-2 md:mb-4 relative">
                            <div
                                class="w-14 h-14 bg-cyan-600 rounded-full flex items-center justify-center"
                            >
                                <svg
                                    width="1em"
                                    height="1em"
                                    class="text-white w-10 h-10"
                                    data-icon="mdi:microphone-variant"
                                >
                                    <symbol
                                        id="ai:mdi:microphone-variant"
                                        viewBox="0 0 24 24"
                                    >
                                        <path
                                            fill="currentColor"
                                            d="M9 3a4 4 0 0 1 4 4H5a4 4 0 0 1 4-4m2.84 6.82L11 18h-1v1a2 2 0 0 0 2 2a2 2 0 0 0 2-2v-5a4 4 0 0 1 4-4h2l-1 1l1 1h-2a2 2 0 0 0-2 2v5a4 4 0 0 1-4 4a4 4 0 0 1-4-4v-1H7l-.84-8.18C5.67 9.32 5.31 8.7 5.13 8h7.74c-.18.7-.54 1.32-1.03 1.82M9 11a1 1 0 0 0-1 1a1 1 0 0 0 1 1a1 1 0 0 0 1-1a1 1 0 0 0-1-1"
                                        >
                                        </path>
                                    </symbol>
                                    <use href="#ai:mdi:microphone-variant"
                                    ></use>
                                </svg>
                            </div>
                            <!-- Flecha curva apuntando al teléfono -->
                            <img
                                src="http://cdn.shopify.com/s/files/1/0913/5076/1771/files/Arrow_upper_left_1.png?v=1747458634"
                                alt=""
                                class="absolute -right-20 -translate-y-1/2 w-24 hidden md:block"
                            />
                        </div>
                        <h3 class="text-lg md:text-2xl font-bold mb-1 md:mb-3">
                            Música en vivo profesional
                        </h3>
                        <p class="text-gray-600">
                            <span class="text-cyan-600 font-semibold"
                                >Saxofonista profesional
                            </span>y shows musicales en vivo que transforman tu
                            evento en una experiencia única.
                        </p>
                    </div>
                    <!-- Feature 2 -->
                    <div
                        class="text-left md:text-right bg-cyan-200/20 p-4 rounded-xl md:bg-white"
                    >
                        <div class="flex md:justify-end mb-2 md:mb-4 relative">
                            <div
                                class="w-14 h-14 bg-cyan-600 rounded-full flex items-center justify-center"
                            >
                                <svg
                                    width="1em"
                                    height="1em"
                                    class="text-white w-10 h-10"
                                    data-icon="mdi:balloon"
                                >
                                    <symbol
                                        id="ai:mdi:balloon"
                                        viewBox="0 0 24 24"
                                    >
                                        <path
                                            fill="currentColor"
                                            d="M13.16 12.74L14 14h-1.5c-.15 2.71-.5 5.41-1 8.08l-1-.16c.5-2.62.84-5.26 1-7.92H10l.84-1.26C8.64 11.79 7 8.36 7 6a5 5 0 0 1 5-5a5 5 0 0 1 5 5c0 2.36-1.64 5.79-3.84 6.74"
                                        >
                                        </path>
                                    </symbol>
                                    <use href="#ai:mdi:balloon"></use>
                                </svg>
                            </div>
                            <!-- Flecha curva apuntando al teléfono -->
                            <img
                                src="http://cdn.shopify.com/s/files/1/0913/5076/1771/files/Arrow_upper_left_1.png?v=1747458634"
                                alt=""
                                class="absolute -right-20 -translate-y-1/2 w-24 hidden md:block"
                            />
                        </div>
                        <h3 class="text-lg md:text-2xl font-bold mb-1 md:mb-3">
                            Eventos personalizados
                        </h3>
                        <p class="text-gray-600">
                            Adaptamos cada presentación a tus necesidades,
                            creando momentos memorables para tu ocasión
                            especial.
                        </p>
                    </div>
                </div>
                <!-- Columna Central - Teléfono -->
                <div class="flex justify-center order-2 md:order-1">
                    <div class="relative">
                        <div
                            class="w-70 md:w-80 h-[600px] bg-black rounded-[3rem] p-3 shadow-2xl"
                        >
                            <div
                                class="w-full h-full bg-gray-800 rounded-[2.5rem] overflow-hidden relative"
                            >
                              
                                <blockquote
                                    class="tiktok-embed !p-0 !-m-1"
                                    cite="https://www.tiktok.com/@winsymusic/video/7226268346138807558"
                                    data-video-id="7226268346138807558"
                                    style="max-width: 605px;min-width: 325px;"
                                >
                                    <section class="!hidden">
                                        <a
                                            target="_blank"
                                            title="@winsymusic"
                                            href="https://www.tiktok.com/@winsymusic?refer=embed"
                                            >@winsymusic</a
                                        >
                                        <a
                                            title="nadieeseternoenelmundo"
                                            target="_blank"
                                            href="https://www.tiktok.com/tag/nadieeseternoenelmundo?refer=embed"
                                            >#nadieeseternoenelmundo</a
                                        >
                                        <a
                                            title="sax"
                                            target="_blank"
                                            href="https://www.tiktok.com/tag/sax?refer=embed"
                                            >#sax</a
                                        >
                                        <a
                                            title="lima"
                                            target="_blank"
                                            href="https://www.tiktok.com/tag/lima?refer=embed"
                                            >#lima</a
                                        >
                                        <a
                                            title="eventos"
                                            target="_blank"
                                            href="https://www.tiktok.com/tag/eventos?refer=embed"
                                            >#eventos</a
                                        >
                                        <a
                                            target="_blank"
                                            title="♬ sonido original - Saxofonista Para Eventos Winsy"
                                            href="https://www.tiktok.com/music/sonido-original-7226268368666774277?refer=embed"
                                            >♬ sonido original - Saxofonista
                                            Para Eventos Winsy</a
                                        >
                                    </section>
                                </blockquote>
                                <script
                                    async
                                    src="https://www.tiktok.com/embed.js"
                                ></script>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Columna Derecha -->
                <div class="space-y-6 md:space-y-12 order-1 md:order-2">
                    <!-- Feature 3 -->
                    <div
                        class="text-left bg-cyan-200/20 p-4 rounded-xl md:bg-white"
                    >
                        <div class="flex justify-start mb-4 relative">
                            <!-- Flecha curva apuntando desde el teléfono -->
                            <div
                                class="w-14 h-14 bg-cyan-600 rounded-full flex items-center justify-center"
                            >
                                <img
                                    src="http://cdn.shopify.com/s/files/1/0913/5076/1771/files/Arrow_upper_left_1.png?v=1747458634"
                                    alt=""
                                    class="absolute -left-20 -translate-y-1/2 w-24 rotate-180 scale-y-[-1] hidden md:block"
                                />
                                <svg
                                    width="1em"
                                    height="1em"
                                    class="text-white w-10 h-10"
                                    data-icon="mdi:megaphone"
                                >
                                    <symbol
                                        id="ai:mdi:megaphone"
                                        viewBox="0 0 24 24"
                                    >
                                        <path
                                            fill="currentColor"
                                            d="M12 8H4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h1v4a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-4h3l5 4V4zm9.5 4c0 1.71-.96 3.26-2.5 4V8c1.53.75 2.5 2.3 2.5 4"
                                        >
                                        </path>
                                    </symbol>
                                    <use href="#ai:mdi:megaphone"></use>
                                </svg>
                            </div>
                        </div>
                        <h3 class="text-lg md:text-2xl font-bold mb-1 md:mb-3">
                            Eventos corporativos y sociales
                        </h3>
                        <p class="text-gray-600">
                            Experiencia comprobada en <span
                                class="text-cyan-600 font-semibold"
                                >eventos empresariales,
                            </span> bodas, aniversarios y celebraciones especiales.
                        </p>
                    </div>
                    <!-- Feature 4 -->
                    <div
                        class="text-left bg-cyan-200/20 p-4 rounded-xl md:bg-white"
                    >
                        <div class="flex justify-start mb-4 relative">
                            <!-- Flecha curva apuntando desde el teléfono -->
                            <img
                                src="http://cdn.shopify.com/s/files/1/0913/5076/1771/files/Arrow_upper_left_1.png?v=1747458634"
                                alt=""
                                class="absolute -left-20 -translate-y-1/2 w-24 rotate-180 scale-y-[-1] hidden md:block"
                            />
                            <div
                                class="w-14 h-14 bg-cyan-600 rounded-full flex items-center justify-center"
                            >
                                <svg
                                    class="w-7 h-7 text-white"
                                    fill="none"
                                    stroke="currentColor"
                                    viewBox="0 0 24 24"
                                >
                                    <path
                                        d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                            </div>
                        </div>
                        <h3 class="text-lg md:text-2xl font-bold mb-1 md:mb-3">
                            Producción integral de eventos
                        </h3>
                        <p class="text-gray-600">
                            Desde la música hasta la producción completa, nos
                            encargamos de todos los detalles de tu evento.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
